@model webPracA.Models.Group

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить эту группу?</h3>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Номер группы
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
    </dl>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Обратно к списку", "Index")
        </div>
    }
</div>
